html,body {
    height: 100%; 
    width: 100%;
    margin: 0;
}
div#header {
    height: 78px;
}
div#container {
    height: auto;
}
div #left {
    width: 25%;
    height: auto;
    float: left;
    margin-left: 6%;
    margin-right: 2%;
}
div#center {
    width: 50%;
    height: auto;
    float: left;
}
div #right {
    width: auto;
    height: auto;
    float: right;
}

div #userCount{
    height: 100px;
    width: 100px;
    border-radius: 50px;
    background-color: #1abc9c;;
    padding-top: 30px;
    text-align: center;
    color: white;
}

div #allCount{
    height: 100px;
    width: 100px;
    border-radius: 50px;
    background-color: #1abc9c;;
    padding-top: 30px;
    text-align: center;
    color: white;
}

div #download{
    margin-top: 10px;
}

div#footer {
    height: auto;
    clear: both;
    background-color: #ecf0f1;
}
div .form-group>label {
    color: white;
    width: 250px;
}
