<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="/static/favicon.png">
    <style type="text/css">
    div#center{
    	background-image: url(../static/images/imac.png);
    	background-repeat: no-repeat;
    	height: 900px;
    	margin-left: 20%;
    	margin-right: 20%;
    }

    </style>
    <title>{{ title }}</title>
</head>

<body>
    <div id="center">Register</div>
</body>

</html>
