{% extends "base.html" %}

{% block appcss %}
<link href="../static/css/setuper.css" rel="stylesheet">
<link href="../static/css/flat-ui-docs.css" rel="stylesheet">
{% end %}

{% block appjs %}
<script data-main="../static/js/contact" src="static/js/lib/require.min.js"></script>
{% end %}

{% block container %}
<div class="container">
    <div class="row">
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <a href="https://github.com/dragondjf"><img src="../static/img/icons/svg/github.ico" style="height: 100px"></a>
                <div class="caption">
                    <h3>GitHub</h3>
                    <a href="https://github.com/dragondjf/CloudSetuper">CloudSetuper github</a>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="../static/img/icons/svg/email.ico" style="height: 100px">
                <div class="caption">
                    <h3>Email</h3>
                    <a>ding465398889@163.com</a>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="../static/img/icons/svg/qq.ico" style="height: 100px">
                <div class="caption">
                    <h3>开发交流群</h3>
                    <a>137863625</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% end %}
