{% extends "base.html" %}

{% block appcss %}
<link href="../static/css/setuper.css" rel="stylesheet">
<link href="../static/css/flat-ui-docs.css" rel="stylesheet">
{% end %}

{% block appjs %}
<script data-main="../static/js/contact" src="static/js/lib/require.min.js"></script>
{% end %}

{% block container %}
    <div class="container">
    <p class="demo-headline1" style="font-size: 60px; font-weight: 200;">CloudSetuper Desktop</p>
    <div class="container">
        <div class="demo-row">
            <div class="demo-title">
              <h3>什么是CloudSetuper Desktop</h3>
            </div>
            <div class="demo-content demo-content-article">
              <p>
                <code>CloudSetuper Desktop</code>是CloudSetuper系列的客户端打包工具
            </div>
        </div>
        <div class="demo-row">
            <div class="demo-title">
              <h3>基本用法</h3>
            </div>
            <div class="demo-content demo-content-article">
                <img src="../static/img/desktophelp.png" style="width:600px;">
                <br>
                <br>
                <div><code>Software name</code>：软件的名称</div>
                <div><code>Output folder name</code>：程序安装到指定的目录名称</div>
                <div><code>Exe name</code>：程序可执行文件的名称</div>
                <div><code>Desktop link name</code>：桌面快捷方式名称</div>
                <div><code>Software version</code>：软件版本号</div>
                <div><code>Software author</code>：软件作者</div>
                <div><code>Email address</code>：邮箱地址</div>
                <div><code>Company</code>：公司名称</div>
                <div><code>Desktop link or not：</code>：是否生成桌面快捷方式</div>
                <div><code>Language:：</code>：语言选择（国际化）</div>
                <div><code>Theme color:：</code>：程序背景颜色自定义</div>
            </div>
        </div>
    </div>
</div>
{% end %}
