{% extends "base.html" %}

{% block Sign %}{% end %}

{% block Dropmenu %}
    </li>
        <li class="dropdown">
        <a id="user" href="#" class="dropdown-toggle" data-toggle="dropdown">{{ username }} <b class="caret"></b></a>
        <ul class="dropdown-menu">
            <li><a href="#">User info</a>
            </li>
            <li><a href="#">Project manager</a>
            </li>
            <li class="divider"></li>
            <li><a id="Signout" href="#">Sign out</a>
            </li>
            </li>
        </ul>
    </li>
{% end %}

{% block left %}
    <form id="upload" method="post" action="/upload" enctype="multipart/form-data">
        <div id="drop">
            Drop Here
            <a>Browse</a>
            <input type="file" name="upl" multiple="">
        </div>
        <ul>
        </ul>
        <div id="uploadtip" style="height: 20px; margin-top: 10px; display: none">
            <p style="color: #C0392B"></p>
        </div>
    </form>
{% end %}

{% block center %}
    <form name="setup_form" id="setup_form">
        <div class="login-form" style="background-color: #1abc9c">
            <div class="form-group">
                <label>程序名称：</label>
                <input type="text" class="form-control login-field " value="" placeholder="Enter your software name" required="required" name="softwarename" id="software-name">
            </div>

            <div class="form-group">
                <label>程序版本号：</label>
                <input type="text" class="form-control login-field " value="" placeholder="Enter your software version" required="required" name="softwareversion" id="software-version">
            </div>

            <div class="form-group">
                <label>程序作者：</label>
                <input type="text" class="form-control login-field" value="" placeholder="Enter your author name" required="required" name="authorname" id="software-author">
            </div>

            <div class="form-group">
                <label>email地址：</label>
                <input type="email" class="form-control login-field" value="" placeholder="Enter your email" required="required" name="email" id="software-email">
            </div>

            <div class="form-group">
                <label>公司名称：</label>
                <input type="text" class="form-control login-field" value="" placeholder="Enter your comanpy name" required="required" name="companyname" id="software-company">
            </div>

            <div class="form-group">
                <label>是否显示主程序进度条：</label>
                <input type="checkbox" checked data-toggle="switch" data-on-color="success" data-off-color="warning" id="main_progressbar" />
            </div>

            <div class="form-group">
                <label>是否显示任务栏进度条：</label>
                <input type="checkbox" checked data-toggle="switch" data-on-color="success" data-off-color="warning" id="taskbar_progressbar" />
            </div>

            <div class="form-group">
                <label>是否生成桌面快捷方式：</label>
                <input type="checkbox" checked data-toggle="switch" data-on-color="success" data-off-color="warning" id="desktoplink" />
            </div>

            <a id="onesetup" class="btn btn-block btn-lg btn-success">一键生成</a>
        </div>
    </form>
    <div id="tipmessage" style="margin-top: 20px; margin-left: 5%; margin-right: 5%">
        <p style="color: red"></p>
    </div>
    <div id="download" style="display: none">
        <a href="#" class="btn btn-primary btn-lg btn-block">Download</a>
        <p>Your can download your own setuper!</p>
    </div>
{% end %}

{% block footer %}
    <div class="container">
        <div class="row">
            <div class="col-xs-8">
                
            </div>
            <div class="col-xs-4">
                <div class="footer-banner" style="min-height: 100px;">
                    <h3 class="footer-title" style="padding-top: 0px; ">Cloud Setuper</h3>
                    <ul>
                        <li>Cloud Setuper is an online tool for software deverploer</li>
                    </ul>  
                </div>
            </div>
        </div>
    </div>
{% end %}