{% extends "base.html" %}

{% block Dropmenu %}
    </li>
        <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
        <ul class="dropdown-menu">
            <li><a href="#">Action</a>
            </li>
            <li><a href="#">Another action</a>
            </li>
            <li><a href="#">Something else here</a>
            </li>
            <li class="divider"></li>
            <li class="dropdown-header">Nav header</li>
            <li><a href="#">Separated link</a>
            </li>
            <li><a href="#">One more separated link</a>
            </li>
        </ul>
    </li>
{% end %}

{% block left %}
    <form id="upload" method="post" action="/upload" enctype="multipart/form-data">
        <div id="drop">
            Drop Here
            <a>Browse</a>
            <input type="file" name="upl" multiple="">
        </div>
        <ul>
        </ul>
        <div id="uploadtip" style="height: 20px; margin-top: 10px; display: none">
            <p style="color: red"></p>
        </div>
    </form>
{% end %}

{% block center %}
    <form name="setup_form" id="setup_form">
        <div class="login-form" style="background-color: #1abc9c">
            <div class="form-group">
                <label>程序名称：</label>
                <input type="text" class="form-control login-field " value="" placeholder="Enter your software name" required="required" name="softwarename" id="software-name">
            </div>

            <div class="form-group">
                <label>程序版本号：</label>
                <input type="text" class="form-control login-field " value="" placeholder="Enter your software version" required="required" name="softwareversion" id="software-version">
            </div>

            <div class="form-group">
                <label>程序作者：</label>
                <input type="text" class="form-control login-field" value="" placeholder="Enter your author name" required="required" name="authorname" id="software-author">
            </div>

            <div class="form-group">
                <label>email地址：</label>
                <input type="email" class="form-control login-field" value="" placeholder="Enter your email" required="required" name="email" id="software-email">
            </div>

            <div class="form-group">
                <label>公司名称：</label>
                <input type="text" class="form-control login-field" value="" placeholder="Enter your comanpy name" required="required" name="companyname" id="software-company">
            </div>

            <div class="form-group">
                <label>是否显示主程序进度条：</label>
                <input type="checkbox" checked data-toggle="switch" data-on-color="success" data-off-color="warning" id="main_progressbar" />
            </div>

            <div class="form-group">
                <label>是否显示任务栏进度条：</label>
                <input type="checkbox" checked data-toggle="switch" data-on-color="success" data-off-color="warning" id="taskbar_progressbar" />
            </div>

            <div class="form-group">
                <label>是否生成桌面快捷方式：</label>
                <input type="checkbox" checked data-toggle="switch" data-on-color="success" data-off-color="warning" id="desktoplink" />
            </div>

            <a id="onesetup" class="btn btn-block btn-lg btn-success">一键生成</a>
        </div>
    </form>
    <div id="tipmessage" style="margin-top: 20px; margin-left: 25%; margin-right: 25%">
        <p style="color: red"></p>
    </div>
{% end %}

{% block footer %}
    <div class="container">
        <div class="row">
            <div class="col-xs-8">
                dfdf
            </div>
            <div class="col-xs-4">
                dfdf
            </div>
        </div>
    </div>
{% end %}